#header {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.header_top {
    background-color: #2c2c2c;
    display: inline;
    float: left;
    padding: 0 30px;
    width: 100%;
}

.header_bottom {
    background-color: #fff;
    display: inline;
    float: left;
    padding: 15px 30px 15px;
    width: 100%;
}

.logo_area {
    display: inline;
    float: left;
    width: 31%;
}

.header_top_left {
    float: left;
    display: inline;
    width: 50%;
}

.top_nav li {
    display: inline-block;
}

.top_nav li a {
    display: inline-block;
    border-right: 1px solid #333;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 20px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 767px) {
    .header_top_left {
        width: 100%;
    }
}

@media (max-width: 480px)
{
    .top_nav {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .logo_area {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .logo_area {
        width: 34%;
    }
}